.info-card{
    margin-top: 5%;
    margin-left: 5%;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
}

.usernameH3{
    margin-left: 3%;
}

.btnChangeInfo{
    margin-top: 5px;
    margin-left: 30%;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    margin-left: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

.btnSave {
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      background-color: darkgreen;
      cursor: pointer;
    }
  }
  
  .btnChange {
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 40%;
    margin-top:5px;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      background-color: darkblue;
      cursor: pointer;
    }
  }
  .button-container {
    text-align: center;
  }
  
  .btnCancel {
    background-color: red;
    color: white;
    margin-left: 3px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      background-color: darkred;
      cursor: pointer;
    }
  }
  