.info-card{
    margin-top: 5%;
    margin-left: 5%;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
}

.usernameH3{
    margin-left: 3%;
}

  
.btnSave {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.btnCancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btnChange {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

  .button-container {
    text-align: center;
  }
  