@import "../../global.scss";
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
 
  .card {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -8px black;
    padding: 15px;
    background-color: darkcyan;
    color:white;
    
  }

  .h11{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5px;
    width: 100%;

  }

  button:hover {
    background-color: #45a049;
  }
  
  
  
  
  